.blogContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.blogContainer>h2{
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 48px;
}

.blogElementContainer{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    grid-auto-rows: 1fr;
    display: grid;
    grid-gap: 8px;
    width: 100%;
}

.blogElementParent{
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    text-align: left;
    padding: 0 24px;
    margin-bottom: 40px;
}

.blogElementParent>img{
    width: 100%;
    margin-bottom: 16px;
}

.blogElementParent>h3{
    margin-bottom: .75em;
}

.blogElementParent>a{
    color: #0a6cff;
    text-decoration: none;
}

.blogElementParent>a:hover,.blogElementParent>h3:hover{
    text-decoration: underline;
    cursor: pointer;
}

